/* Fill in your styles here */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 26px;
    color: darkgreen;
}

p {
    font-size: 16px;
}

small {
    font-size: 13px;
    color: cornflowerblue;
}