/* Plain selectors only */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  font-size: 24px;
  display: table;
}
p {
  font-size: 16px;
}
small {
  font-size: 14px;
  color: #666;
}
